/* Header */
.text-style {
    color: #000;
}

.border-style {
    border-color: #444;
}

.hover-style:hover {
    background-color: #444;
    border-color: #444;
}

.color-style {
    background-color: #444;
}

.logo {
    font-size: 1.2rem;
    /*text-transform: uppercase;*/
    letter-spacing: 4px;
    text-decoration: none;
}

/* Main */
.carousel-item {
    height: 32rem;
    background: #777;
    color: white;
    position: relative;
}

.container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
}